* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	text-decoration: none;
}

body {
	background: #fefae0;
}

h1 {
	position: fixed;
	padding-left: 5px;
	writing-mode: vertical-rl;
	top: 10px;
	letter-spacing: 10px;
}

nav {
	position: fixed;
	left: 55px;
	top: 11px;
}

li {
	list-style: none;
	border: 2px solid #84a98c;
	width: 60px;
	height: 32.5vh;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 40px;
	color: black;
	margin-bottom: 5px;
}

article {
	padding-left: 200px;
	padding-top: 10px;
	display: flex;
}

h2 {
	padding-bottom: 100px;
	padding-top: 20px;
	writing-mode: vertical-rl;
	letter-spacing: 10px;
}



.s{
	background: linear-gradient(90deg,#fefae0, #ccd5ae);
	width: 45vw;
	height: 97vh;
	padding-left: 50px;
	padding-right: 30px;
	margin-right: 150px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.ss {
	background: linear-gradient(90deg,#fefae0, #ccd5ae);
	width: 45vw;
	height: 97vh;
	padding-left: 80px;
	padding-right: 30px;
	margin-right: 150px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.sss {
	background: linear-gradient(90deg,#fefae0, #ccd5ae);
	width: 45vw;
	height: 97vh;
	padding-left: 80px;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}



.s0 {
	padding-left: 130px;
}

.s00, .s000 {
	padding-left: 160px;
}

p {
	text-align: justify;
	line-height: 1.6;
	word-break: keep-all;
	width: 20vw;
	height: 90vh;
	padding: 20px;
	writing-mode: vertical-lr;
}

.ppp {
	width: 11vw;
	writing-mode: vertical-lr;
	text-align: justify;
	height: 90vh;
}
section {
	display: flex;
	text-align: center;
	flex-direction: column;
}

@media screen and (max-width: 900px) {
	li {
		height: 31.8vh;
		width: 40px;
		font-size: 20px;
	}

	p {
		width: 50vw;
		font-size: 15px;
	}

	.ppp {
		width: 30vw;
		font-size: 15px;
	}

	.s, .ss, .sss {
		width: 90vw;
	}

	img {
		height: 268px;
	}

	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	}

}

