* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	text-decoration: none;
	list-style: none;
}

body {
	background-image: url("sky.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw auto;

}

header {
	position: fixed;
	background: linear-gradient(180deg,#2ECCFA, white);
	border-radius: 10px;
	box-shadow: 0px 5px 10px 10px white;

}

h1 {
	width: 97.5vw;
	text-align: center;
	letter-spacing: 15px;
	margin: 20px;
	padding: 10px;
	color: white;
}

.m {
	position: absolute;
	top: 300px;
	left: 160px;
	border: 2px solid white;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	box-shadow:  3px 3px 10px 5px white;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.d {
	position: absolute;
	top: 200px;
	left: 200px;
	border: 2px solid white;
	border-radius: 100px;
	width: 160px;
	height: 160px;
	box-shadow:  3px 3px 10px 5px white;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.a {
	position: absolute;
	top: 350px;
	left: 500px;
	border: 2px solid white;
	border-radius: 100px;
	width: 170px;
	height: 170px;
	box-shadow:  3px 3px 10px 5px white;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.aa {
	position: absolute;
	top: 400px;
	left: 600px;
	border: 2px solid white;
	border-radius: 200px;
	width: 300px;
	height: 300px;
	box-shadow:  3px 3px 10px 5px white;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.t {
	position: absolute;
	top: 170px;
	left: 1000px;
	border: 2px solid white;
	border-radius: 100px;
	width: 140px;
	height: 140px;
	box-shadow:  3px 3px 10px 5px white;
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
}

.s1 {
	position: absolute;
	top: 330px;
	left: 240px;
	border: 2px solid white;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	box-shadow:  3px 3px 10px 5px white;
}

.s2 {
	position: absolute;
	top: 160px;
	left: 360px;
	border: 2px solid white;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	box-shadow:  3px 3px 10px 5px white;
}

.s3 {
	position: absolute;
	top: 500px;
	left: 280px;
	border: 2px solid white;
	border-radius: 100px;
	width: 80px;
	height: 80px;
	box-shadow:  3px 3px 10px 5px white;
}

.s4 {
	position: absolute;
	top: 700px;
	left: 540px;
	border: 2px solid white;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	box-shadow:  3px 3px 10px 5px white;
}

.s5 {
	position: absolute;
	top: 220px;
	left: 960px;
	border: 2px solid white;
	border-radius: 100px;
	width: 80px;
	height: 80px;
	box-shadow:  3px 3px 10px 5px white;
}

.s6 {
	position: absolute;
	top: 310px;
	left: 750px;
	border: 2px solid white;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	box-shadow:  3px 3px 10px 5px white;
}

.s7 {
	position: absolute;
	top: 120px;
	left: 1130px;
	border: 2px solid white;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	box-shadow:  3px 3px 10px 5px white;
}

.s8 {
	position: absolute;
	top: 680px;
	left: 930px;
	border: 2px solid white;
	border-radius: 100px;
	width: 80px;
	height: 80px;
	box-shadow:  3px 3px 10px 5px white;
}
@media screen and (max-aspect-ratio: 1/1) {
	body {
		background-size: auto 100vh;
	}

	h1 {
		font-size: 20px;
	}

	li {
		font-size: 10px;
	}

	.m {
	position: absolute;
	top: 200px;
	left: 50px;
	width: 60px;
	height: 60px;
	}

	.d {
	position: absolute;
	top: 150px;
	left: 80px;
	width: 90px;
	height: 90px;
	}

	.a {
	position: absolute;
	top: 300px;
	left: 100px;
	width: 70px;
	height: 70px;
	}

	.aa {
	position: absolute;
	top: 400px;
	left: 200px;
	width: 140px;
	height: 140px;
	}

	.t {
	position: absolute;
	top: 600px;
	left: 300px;
	width: 100px;
	height: 100px;
	}
}

